div.DraftEditor-root {
    border: 1px solid #000;
    height: 400px;    
    overflow-y: auto;
    padding: 5px;

  }
  div.DraftEditor-editorContainer,
  div.public-DraftEditor-content {
    height: 100%;
  }

  span.highlight {
    background-color: yellow;
  }

  .nav {
    --bs-nav-link-font-weight: 600;
    --bs-nav-link-font-size:0.8rem
  }